body {
    font-family: 'Coda', cursive;
    text-align: center;
}

/*
CSS for popup
*/
.modalBody {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.450);
}

/*
CSS styling for popup modal
*/
.populModal {
    position: relative;
    padding: 1em;
    width: 350px;
    height: 200px;
    top: 0%;
    left: 50%;
    background:rgb(46, 80, 233);
    transform: translate(-50%, 70%);
    text-align: center;
    border-radius: 10px;
}

/*
CSS for play again button hover
*/
.playagain:hover {
    background-color: #1ece27;
}

/*
CSS for play again button
*/
.playagain {
    width: 8em;
    height: 5em;
    background: #ce1e1e;
    color: rgb(0, 0, 0);
    border-radius: 5px; 
}

.hide {
    display: none;
}